name: Librelane Digital Flow (UNIC-CASS)

on: [push, workflow_dispatch]

jobs:
  librelane:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/hm-aemy/librelane-base-image:latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: physical implementation
      run: |
        source /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
        make